<div class="row blog-post">
	<div class="col-md-12">
  	<h2>{{model.title}}</h2>
 	</div>
	<div class="col-md-12">
  	<h4><em>Published on {{format-date model.publishedDate 'LL'}}</em></h4>
  	{{markdown model.body}}
	</div>
</div>
