<div class="blog-list">
{{#each blogpost in controller}}
	<div class="row blog-post">
		<div class="col-md-12">
    	<h2>{{#link-to 'blogpost' blogpost}}{{blogpost.title}}{{/link-to}}</h2>
   	</div>
		<div class="col-md-12">
    	<h4><em>Published on {{format-date blogpost.publishedDate 'LL'}}</em></h4>
    	<p>{{blogpost.body}}</p>
  	</div>
	</div>
{{/each}}
</div>